$link-decoration: none;

html,
body {
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
