<footer class="bg-light">
    <!-- 上側 主區 -->
    <div class="container py-40 d-flex justify-content-between">
        <!-- 左側 logo區 -->
        <div class="d-flex flex-column align-items-center">
            <img class="mb-12" src="../assets/images/logo_footer.svg" alt="footer logo">
            <span class="fs-5 text-primary-800">食譜、教學、備料，一次搞定！</span>
        </div>

        <!-- 右側 文字區 -->
        <div class="footer-text d-flex justify-content-between">
            <!-- 關於我們 -->
            <div class="py-16">
                <h3 class="mb-24 text-primary-800">關於我們</h3>
                <ul class="p-0">
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">品牌精神</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">團隊成員</a>
                    </li>
                    <li>
                        <a class="text-decoration-none link-primary-800" href="#">品牌故事</a>
                    </li>
                </ul>
            </div>
            <!-- 會員服務 -->
            <div class="py-16">
                <h3 class="mb-24 text-primary-800">會員服務</h3>
                <ul class="p-0">
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">忘記密碼</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">帳號設定</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">個人頁面</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">我的訂單</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">食譜收藏</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">VIP 會員</a>
                    </li>
                </ul>
            </div>
            <!-- 逛食譜 -->
            <div class="py-16">
                <h3 class="mb-24 text-primary-800">逛食譜</h3>
                <ul class="p-0">
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">全部分類</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">帳號設定</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">人氣食譜</a>
                    </li>
                    <li class="mb-12">
                        <a class="text-decoration-none link-primary-800" href="#">影音食譜</a>
                    </li>
                    <li>
                        <a class="text-decoration-none link-primary-800" href="#">最新上架</a>
                    </li>
                </ul>
            </div>
            <!-- 聯絡我們 -->
            <div class="py-16">
                <h3 class="mb-24 text-primary-800">聯絡我們</h3>
                <ul class="p-0 mb-24">
                    <li class="mb-12">
                        <a class="d-flex align-items-center text-decoration-none link-primary-800" href="tel:06-1234567">
                            <img class="me-8" src="../assets/images/Phone.svg" alt="icon Phone">
                            06-1234567
                        </a>
                    </li>
                    <li>
                        <a class="d-flex align-items-center text-decoration-none link-primary-800" href="mailto:cookkk@daydaycook.com">
                            <img class="me-8" src="../assets/images/Email.svg" alt="icon Email">
                            cookkk@daydaycook.com
                        </a>
                    </li>
                </ul>
                <ul class="p-0 py-8 d-flex justify-content-between align-items-center">
                    <li>
                        <a href="#">
                            <img src="../assets/images/mdi_facebook.svg" alt="icon facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/mdi_instagram.svg" alt="icon instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/mdi_twitter.svg" alt="icon twitter">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/uil_youtube.svg" alt="icon youtube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 下側 copy right -->
    <div class="copy-right py-16">
        <p class="mb-1 text-center text-primary-800">© 2023 LOGO. All rights reserved.</p>
        <p class="m-0 text-center text-primary-800">未經授權禁止複製本網站使用的信息、圖像、文字等。</p>
    </div>
</footer>
