<header class="bg-primary-100  sticky-top">
    <div class="px-40 py-12 d-flex justify-content-between align-items-center">
        <!-- 漢堡選單 & logo -->
        <div class="d-flex">
            <button class="me-24 px-16 py-8 border-0 bg-primary-100">
                <img src="../assets/images/Hamburger Menu.svg" alt="icon hamburger menu">
            </button>
            <h1>
                <a href="index.html">快煮趣</a>
            </h1>
        </div>

        <!-- Search Bar -->
        <form action="#" method="get">
                <div class="d-flex">
                <input type="search" class="input-search me-8" id="search" placeholder="搜尋食譜關鍵字">
                <button class="d-flex align-items-center px-16 py-8 btn btn-primary-500 border-0">
                    <img class="me-1" src="../assets/images/filter.svg" alt="icon filter">
                    <span class="text-light">進階搜尋</span>
                </button>
            </div>
        </form>

        <!-- Nav Bar -->
        <ul class="m-0 d-flex align-items-center">
            <li class="me-16 px-8">
                <a class="link-primary-800 text-decoration-none" href="#">
                    <img src="../assets/images/Cart_header.svg" alt="chart">
                </a>
            </li>
            <li class="me-16 px-8">
                <a class="link-primary-800 text-decoration-none" href="#">
                    <img src="../assets/images/Bookmark_header.svg" alt="bookmark">
                </a>
            </li>
            <li class="me-16 px-8">
                <a class="link-primary-800 text-decoration-none" href="#">
                    <img src="../assets/images/User_header.svg" alt="User">
                </a>
            </li>
            <li class="px-16 py-8 btn btn-secondary-500 border-0 btnVip">
                <img class="me-1" src="../assets/images/Crown.svg" alt="icon Crown">
                <a class="text-light text-decoration-none" href="#">升級VIP</a>
            </li>
        </ul>
    </div>
</header>
