.card {
  &__image {
    aspect-ratio: calc(404 / 240);
  }

  &__image-2 {
    aspect-ratio: calc(296 / 240);
  }

  &__image-3 {
    aspect-ratio: calc(296 / 160);
  }

  &__rank {
    &--rank {
      width: 3.5rem;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
    }

    &--image {
      aspect-ratio: calc(296 / 120);
    }
  }

  &__video {
    &--image {
      aspect-ratio: calc(296 / 240);
    }
  }

  &__chef {
    transition: scale 200ms ease-in-out;
    
    &:hover {
      scale: 1.03125;
    }

    & > img {
      width: 80px;
      aspect-ratio: 1;
    }
  }
}
