footer {
  .mb-12 {
    margin-bottom: 12px;
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  .me-8 {
    margin-right: 8px;
  }
  .py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ul {
    list-style: none;
  }

  .footer-text {
    width: 61%;
  }

  .copy-right {
    border-top: 1px dashed $taupe-400;
  }
}
