footer {
  .footer-text {
    width: 61%;
  }

  .copy-right {
    padding: 16px 0;
    border-top: 1px dashed $taupe-400;
  }
}

// tablet 平板
@media(max-width:992px){
  h3 {
    font-size: 16px;
    line-height: 1.2;
  }
  .copy-right {
    padding: 12px 0;
    font-size: 10px;
  }
}