header {
  h1 a{
    background-image: url(../images/logo.svg);
    width: 144px;
    height: 44px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

  .input-search {
    width: 562px;
    padding-left: 64px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2 6 rgba(0, 0, 0, .8);
    background: $light url('../images/Zoom.svg') no-repeat 16px 8px;
  }
  ::placeholder {
    // 這個顏色沒有在變數中
    color: #997B59;
  }
}
