$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  8: 8px,
);

$carousel-indicator-width: 12px;
$carousel-indicator-height: 12px;
$carousel-indicator-spacer: 8px;
// $carousel-control-prev-icon-bg: url("../../images/left-caret.svg");
// $carousel-control-next-icon-bg: url("../../images/right-caret.svg");
$carousel-control-width: 80px;
