<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
<<<<<<<<< Temporary merge branch 1
    <%- include('./layout/headerLoggedin'); -%>
=========
    <%- include('./layout/header'); -%>
>>>>>>>>> Temporary merge branch 2

    <!-- 封面圖 -->
    <div class="mb-60 w-100">
        <img src="../assets/images/recipe/料理封面圖.svg" alt="料理封面圖">
    </div>

    <div class="container">
        <!-- 簡介 & 食材 -->
        <div class="mb-56 row align-items-stretch">
            <!-- 左側 簡介 -->
            <div class="col-4 py-12">
                <div class="h-100 d-flex flex-column justify-content-between">
                    <!-- 標題 & 簡介 -->
                    <div>
                        <div class="mb-16 d-flex justify-content-between align-items-center">
                            <h2 class="mb-0 fs-1">中華涼麵</h2>
                            <ul class="d-flex justify-content-between align-items-center">
                                <li class="me-16">
                                    <button class="p-0 border-0 bg-primary-50">
                                        <img src="../assets/images/mdi_facebook.svg" alt="facebook">
                                    </button>
                                </li>
                                <li class="me-16">
                                    <button class="p-0 border-0 bg-primary-50">
                                        <img src="../assets/images/mdi_instagram.svg" alt="instagram">
                                    </button>
                                </li>
                                <li>
                                    <button class="p-0 border-0 bg-primary-50">
                                        <img src="../assets/images/mdi_twitter.svg" alt="twitter">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="mb-20 d-flex">
                            <span class="me-16">#台式</span>
                            <span class="me-16">#速成</span>
                            <span class="me-16">#新手也可以</span>
                            <span>#消暑</span>
                        </div>
                        <div class="py-16">
                            <h3 class="mb-16 fs-5">簡介</h3>
                            <p>「中華涼麵」是夏日經典，滋味爽口。細緻麵條搭配多種新鮮蔬菜，加上香濃醬汁，充滿層次。簡單步驟，快速上菜，滿足味蕾，驅散暑氣。</p>
                        </div>
                    </div>
                    <!-- 廚師 -->
                    <div class="px-20 py-16 d-flex justify-content-between align-items-center bg-white rounded-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img class="me-16" src="../assets/images/avatar.svg" alt="廚師頭像">
                            <span class="fs-4">阿聰師</span>
                        </div>
                        <span class="fs-7 opacity-50">122 食譜文章</span>
                    </div>
                    <!-- 喜歡 & 加入我的收藏 -->
                    <div>
                        <span class="mb-8 opacity-50">150 人說喜歡</span>
                        <div class="row">
                            <div class="col">
                                <button class="w-100 py-12 d-flex justify-content-center align-items-center btn btn-primary-500">
                                    <img class="me-12" src="../assets/images/heart.svg" alt="heart">
                                    <p class="m-0 fs-6 link-white">喜歡</p>
                                </button>
                            </div>
                            <div class="col">
                                <button class="w-100 py-12 d-flex justify-content-center align-items-center btn btn-primary-500">
                                    <img class="me-12" src="../assets/images/bookmark.svg" alt="bookmark">
                                    <p class="m-0 fs-6 link-white">加入我的收藏夾</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 右側 食材 -->
            <div class="col-5 px-20 py-16 bg-white rounded-4">
                <div class="d-flex py-12 border-bottom">
                    <div class="w-50 d-flex flex-column align-items-center fs-5 border-end">
                        <p class="mb-12">份量</p>
                        <p class="m-0"><span class="fw-bold" style="font-size: 28px;">2 </span>人份</p>
                    </div>
                    <div class="w-50 d-flex flex-column align-items-center fs-5">
                        <p class="mb-12">時間</p>
                        <p class="m-0"><span class="fw-bold" style="font-size: 28px;">30 </span>分鐘</p>
                    </div>
                </div>

                <h3 class="m-0 py-20 fs-4 text-center border-bottom">食材</h3>

                <div class="mb-16 d-flex py-16">
                    <div class="w-50 px-12 border-end">
                        <div class="mb-16 d-flex justify-content-between align-items-center">
                            <span>黃麵</span>
                            <span>1包</span>
                        </div>
                        <div class="mb-16 d-flex justify-content-between align-items-center">
                            <span>胡蘿蔔</span>
                            <span>1根</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>雞胸肉</span>
                            <span>半片</span>
                        </div>
                    </div>
                    <div class="w-50 px-12">
                        <div class="mb-16 d-flex justify-content-between align-items-center">
                            <span>小黃瓜</span>
                            <span>1根</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>雞蛋</span>
                            <span>2根</span>
                        </div>
                    </div>
                </div>

                <div class="border border-primary-500">
                    <p class="m-0 p-12 bg-primary-500 text-white fs-5">涼麵醬</p>
                    <div class="d-flex py-16">
                        <div class="w-50 px-12 border-end">
                            <div class="mb-16 d-flex justify-content-between align-items-center">
                                <span>黃麵</span>
                                <span>1包</span>
                            </div>
                            <div class="mb-16 d-flex justify-content-between align-items-center">
                                <span>胡蘿蔔</span>
                                <span>1根</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>雞胸肉</span>
                                <span>半片</span>
                            </div>
                        </div>
                        <div class="w-50 px-12">
                            <div class="mb-16 d-flex justify-content-between align-items-center">
                                <span>小黃瓜</span>
                                <span>1根</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>雞蛋</span>
                                <span>2根</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 料理步驟 -->
        <h3 class="mb-20 fs-2">料理步驟</h3>
        <!-- 步驟1 -->
        <div class="row">
            <div class="col-9 mb-20 border-bottom">
                <div class="row mb-20 align-items-stretch">
                    <div class="col-5">
                        <img src="../assets/images/recipe/步驟1.svg" alt="步驟1">
                    </div>
                    <div class="col-7 flex-column justify-content-between">
                        <div>
                            <span class="d-flex mb-16 fs-3 fw-bold">01</span>
                            <ol class="mb-16">
                                <li class="mb-8" style="list-style: decimal;">將黃麵過水川燙就起鍋，主要是外面賣的黃麵有一層油脂，過水川燙能減少一點油膩感</li>
                                <li class="mb-8" style="list-style: decimal;">胡蘿蔔(不用煮過) & 小黃瓜切絲，雞胸肉蒸熟後手撕成絲</li>
                                <li class="mb-8" style="list-style: decimal;">將所有涼麵醬材料拌勻</li>
                            </ol>
                        </div>
                        <div>
                            <span class="d-flex mb-16 fs-5 fw-bold">💡 小撇步</span>
                            <ul class="mb-12">
                                <li class="mb-8" style="list-style: initial;">調味醬的濃稠度一個人喜好可以增減開水的量</li>
                                <li class="mb-8" style="list-style: initial;">有些人喜歡蒜味有些不愛，所以蒜頭的量也可以增減喔</li>
                                <li class="mb-8" style="list-style: initial;">黃麵過水川燙就起鍋，主要是外面賣的黃麵有一層油脂，過水川燙能減少一點油膩感</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 步驟2 -->
        <div class="row">
            <div class="col-9 mb-20 border-bottom">
                <div class="row mb-20">
                    <div class="col-5">
                        <img src="../assets/images/recipe/步驟2.svg" alt="步驟2">
                    </div>
                    <div class="col-7">
                        <span class="d-flex mb-16 fs-3 fw-bold">02</span>
                        <ol class="mb-16">
                            <li class="mb-8" style="list-style: decimal;">熱油鍋煎蛋皮，先將兩顆蛋打散後，取一平底鍋至做蛋皮，完成後放涼準備切絲</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- 步驟3 -->
        <div class="mb-56 row align-items-stretch">
            <div class="col-9 mb-20 border-bottom">
                <div class="row mb-20">
                    <div class="col-5">
                        <img src="../assets/images/recipe/步驟3.svg" alt="步驟3">
                    </div>
                    <div class="col-7 d-flex flex-column justify-content-between">
                            <div>
                                <span class="d-flex mb-16 fs-3 fw-bold">03</span>
                                <ol class="mb-16">
                                    <li class="mb-8" style="list-style: decimal;">最後就是擺盤時間囉~~~將黃麵擺中間，小黃瓜絲、胡蘿蔔絲、雞絲、蛋絲擺在面上面，淋上涼麵醬</li>
                                </ol>
                            </div>
                            <div>
                                <span class="d-flex mb-16 fs-5 fw-bold">💡 小撇步</span>
                                <ul class="mb-12">
                                    <li class="mb-8" style="list-style: initial;">也可以加火腿絲，一個人喜好調整配料囉~~</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
